<div class="container-fluid g-0">
  <app-navbar (sideNavToggled)="sideNavStatus = $event"></app-navbar>
  <main class="main-container">
    <app-sidebar
     
      [sideNavStatus]="sideNavStatus"
      [ngClass]="{ 'app-side-nav-open': sideNavStatus }"
      class="black-border"
      (screenSelected)="navigateTo($event)"
    >
    </app-sidebar>
    <div
      class="display-area p-3"
      [ngClass]="{ 'display-area-shrink': sideNavStatus }"
    >
      <ng-container *ngIf="selectedComponent">
        <!-- <ng-template [ngComponentOutlet]="selectedComponent"></ng-template> -->
        <router-outlet></router-outlet>
      </ng-container>
    </div>
  </main>
</div>
