<div>
  <div class="label-div" [ngClass]="onlyInput ? 'hide-label' : 'label-div'">
    <label [ngClass]="labelClass">{{ label }}</label>
    <span *ngIf="required" class="required-mark">*</span>
  </div>
  <div class="input-box">
    <input
      [type]="type"
      [placeholder]="placeholder"
      [required]="required"
      [ngClass]="inputClass"
      [value]="value"
      [ngModel]="value"
      (ngModelChange)="onValueChange($event)"
      [disabled]="disable"
      [class]="inputClass"
      class="form-control"
    />
  </div>
</div>
