<mat-form-field>
  <input
    type="text"
    [placeholder]="placeholder"
    matInput
    [formControl]="searchControl"
    [matAutocomplete]="auto"
    [required]="required"
    [value]="value"
  />
  <button
    mat-button
    *ngIf="searchControl.value"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    class="cancel-button"
    (click)="clearInput()"
  >
    <i class="fa-solid fa-xmark" (click)="clearInput()"></i>
  </button>
  <mat-autocomplete #auto="matAutocomplete" #autocomplete >
    <mat-option
      *ngFor="let option of filteredOptions"
      [value]="value"
      (click)="selectOption(option)"
    >
      {{ option.name }}
      <!-- Assuming 'name' is the property to display -->
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
