<div class="container feature-section">
    <div class="row">
      <div class="col-md-3">
        <div class="feature-item text-center" class="feature-div">
          <img src="../../assets/invoice3.png" class="img-fluid feature-img"  alt="Feature 1">
          <h3>Customizable Templates</h3>
          <p>CCustomize your invoices to match your brand identity. Choose from a variety of professionally designed templates and personalize them with your logo, colors, and layout.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="feature-item text-center" class="feature-div">
          <img src="../../assets/group.png" class="img-fluid feature-img" alt="Feature 3">
          <h3>Client Management</h3>
          <p>Keep track of your clients' information in one place. Store contact details, payment terms, and billing history to streamline your invoicing process.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="feature-item text-center" class="feature-div">
          <img src="../../assets/credit-card.png" class="img-fluid feature-img" alt="Feature 2">
          <h3>Payment Integration</h3>
          <p> Accept payments directly through your invoices. Integrate with popular payment gateways to offer clients a secure and convenient way to pay.</p>
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="feature-item text-center" class="feature-div">
          <img src="../../assets/secure.png" class="img-fluid feature-img" alt="Feature 4">
          <h3>Reliable Security</h3>
          <p>Ensure the security of your invoicing process and client data. Utilize encryption and other security measures to protect sensitive information.</p>
        </div>
      </div>
    </div>
  </div>