<section class="intro-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6" id="intro-content">
        <div class="intro-content">
          <h1>Transforming Invoicing for Your Business</h1>
          <p>
            Simplify and Speed Up Your Invoicing Process with Our Intuitive
            Online Invoice Generator. Create, Customize, and Send Invoices
            Effortlessly, Helping You Focus More on Your Business.
          </p>
          <a href="#" class="btn btn-primary">Create Your First Invoice</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="intro-image">
          <img src="../../assets/Invoice2-01.png" alt="Invoice Generator" />
        </div>
      </div>
    </div>
  </div>
</section>
