<div class="submit-button">
  <button
    (click)="changeInvoice()"
    [class.selected-button]="!isPreviewSelected"
    [class.deselected-button]="isPreviewSelected"
  >
    Edit
  </button>
  <button
    (click)="submitInvoice()"
    [class.selected-button]="isPreviewSelected"
    [class.deselected-button]="!isPreviewSelected"
  >
    Preview
  </button>
</div>

<div *ngIf="editInvoice" class="container">
  <div class="a4-box">
    <div class="header">
      <div class="left business-left">TAX INVOICE</div>

      <div class="center business-title">
        <app-custom-typehead-dropdown
          [placeholder]="'Select Business'"
          [options]="businessOptions"
          (selectedOptions)="selectedOptions($event)"
          [value]="businessName"
          
          (clearOptions)="clearOptions($event)"
          
        ></app-custom-typehead-dropdown>
        <!-- <input
          type="text"
          [(ngModel)]="businessName"
          placeholder="Business Name"
        /> -->
      </div>
      <div class="business-right">
        <app-custom-input-box
          [placeholder]="'Mobile Number'"
          [value]="mobileNumber"
          [disable]="true"
          [onlyInput]="true"
          [inputClass]="'custom-input'"
        >
        </app-custom-input-box>
        <!-- <br /> -->
        <app-custom-input-box
          [placeholder]="'Alternate Mobile Number'"
          [value]="alternateMobileNumber"
          [disable]="true"
          [onlyInput]="true"
          [inputClass]="'custom-input'"
        >
        </app-custom-input-box>
      </div>
    </div>
    <div class="address">
      <app-custom-input-box
        [placeholder]="'Address Line 1'"
        [value]="addressLine1"
        [disable]="true"
        [onlyInput]="true"
        [inputClass]="'custom-input address1'"
      ></app-custom-input-box>

      <app-custom-input-box
        [placeholder]="'Address Line 2'"
        [value]="addressLine2"
        [disable]="true"
        [onlyInput]="true"
        [inputClass]="'custom-input'"
      ></app-custom-input-box>
    </div>
    <div class="details">
      <div class="billed-div">
        <div><strong>Billed To:</strong></div>
        <div>
          Customer Name:
          <input
            type="text"
            [(ngModel)]="customerName"
            placeholder="Customer Name"
          />
        </div>
        <div>
          Customer Address:
          <input
            type="text"
            [(ngModel)]="customerAddress"
            placeholder="Customer Address"
          />
        </div>
        <div>
          City, State, Zip Code:
          <input
            type="text"
            [(ngModel)]="cityStateZip"
            placeholder="City, State, Zip Code"
          />
        </div>
        <div>
          Country:
          <input type="text" [(ngModel)]="country" placeholder="Country" />
        </div>
      </div>
      <div class="invoice-div">
        <div>
          <strong>Invoice No:</strong>
          <input type="text" [(ngModel)]="invoiceNo" placeholder="Invoice No" />
        </div>
        <div>
          <strong>Order No:</strong>
          <input type="text" [(ngModel)]="orderNo" placeholder="Order No" />
        </div>
        <div>
          <strong>Date:</strong>
          <input type="text" [(ngModel)]="date" placeholder="Date" />
        </div>
        <!-- Add other invoice information here -->
      </div>
    </div>
    <div class="item-details">
      <table>
        <thead>
          <tr>
            <th>No</th>
            <th>Description</th>
            <th>Code</th>
            <th>Qty</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
              Item Description:
              <input
                type="text"
                [(ngModel)]="items[i].description"
                placeholder="Item Description"
              />
            </td>
            <td>
              Item Code:
              <input
                type="text"
                [(ngModel)]="items[i].code"
                placeholder="Item Code"
              />
            </td>
            <td>
              Qty:
              <input type="text" [(ngModel)]="items[i].qty" placeholder="Qty" />
            </td>
            <td>
              Amount:
              <input
                type="text"
                [(ngModel)]="items[i].amount"
                placeholder="Amount"
              />
            </td>
          </tr>
        </tbody>
      </table>
      <button (click)="addItem()">Add Item</button>
    </div>
    <!-- Tax details section -->
    <div class="tax-details">
      <div class="left gst-left">
        <div class="section">
          <strong>GSTIN:</strong>
          <input type="text" [(ngModel)]="gstin" placeholder="GSTIN" />
        </div>
        <div class="section">
          <strong>PAN:</strong>
          <input type="text" [(ngModel)]="pan" placeholder="PAN" />
        </div>
        <div class="section">
          <strong>State:</strong>
          <input type="text" [(ngModel)]="state" placeholder="State" />
        </div>
        <div class="section">
          <strong>Amount in Words:</strong>
          <input
            type="text"
            [(ngModel)]="amountInWords"
            placeholder="Amount in Words"
          />
        </div>
        <div class="section">
          <strong>Bank Details:</strong> Account No -
          <input
            type="text"
            [(ngModel)]="accountNo"
            placeholder="Account No"
          />, IFSC -
          <input type="text" [(ngModel)]="ifsc" placeholder="IFSC" />
        </div>
        <div class="section">
          <strong>Terms & Conditions:</strong>
          <textarea
            [(ngModel)]="termsConditions"
            placeholder="Terms & Conditions"
          ></textarea>
        </div>
      </div>
      <div class="right gst-right">
        <div class="tax-row">
          <div class="tax-title">Taxable Amount:</div>
          <div class="tax-percentage">$18</div>
          <div class="tax-amount">$100.00</div>
        </div>
        <div class="tax-row">
          <div class="tax-title">CGST:</div>
          <div class="tax-percentage">10%</div>
          <div class="tax-amount">$5.00</div>
        </div>
        <div class="tax-row">
          <div class="tax-title">SGST:</div>
          <div class="tax-percentage">10%</div>
          <div class="tax-amount">$5.00</div>
        </div>
        <div class="tax-row">
          <div class="tax-title">IGST:</div>
          <div class="tax-percentage">20%</div>
          <div class="tax-amount">$10.00</div>
        </div>
        <div class="tax-row">
          <div class="tax-title">IGST:</div>
          <div class="tax-percentage">20%</div>
          <div class="tax-amount">$10.00</div>
        </div>
        <div class="tax-row">
          <div class="tax-title">IGST:</div>
          <div class="tax-percentage">20%</div>
          <div class="tax-amount">$10.00</div>
        </div>
        <div class="tax-row">
          <div class="tax-title">IGST:</div>
          <div class="tax-percentage">20%</div>
          <div class="tax-amount">$10.00</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showPreview" class="preview-container">
  <app-view-invoice [invoiceData]="submittedInvoice"></app-view-invoice>
</div>
