<div class="download-button">
  <button (click)="downloadPDF()">
    <i class="fa-solid fa-file-arrow-down download-icon"></i>
    Download Invoice
  </button>
</div>

<div #content class="container">
  <div class="a4-box">
    <div class="header">
      <div class="left business-left">TAX INVOICE</div>
      <div class="center business-title">{{ invoiceData.businessName }}</div>
      <div class="business-right">
        Mobile No: {{ invoiceData.mobileNumber }} <br />
        {{ invoiceData.alternateMobileNumber }}
      </div>
    </div>
    <div class="address">
      {{ invoiceData.addressLine1 }}<br />{{ invoiceData.businessEmail }}
    </div>
    <div class="details">
      <div class="billed-div">
        <div><strong>Billed To:</strong></div>
        <div>{{ invoiceData.clientName }}</div>
        <div>{{ invoiceData.clientAddress }}</div>
        <div>{{ invoiceData.cityStateZip }}</div>
        <div>{{ invoiceData.clientMobile }}</div>
        <div>{{ invoiceData.clientGst }}</div>
      </div>
      <div class="invoice-div">
        <div><strong>Invoice No:</strong> {{ invoiceData.invoiceNo }}</div>
        <div><strong>Order No:</strong> {{ invoiceData.orderNo }}</div>
        <div><strong>Date:</strong> {{ invoiceData.date }}</div>
      </div>
    </div>
    <div class="item-details">
      <table>
        <thead>
          <tr>
            <th class="table-column-widths col-no">No</th>
            <th class="col-description">Description</th>

            <th class="col-qty">Qty</th>
            <th class="col-unit-price">Unit Price</th>
            <ng-container *ngIf="!multipleTaxData">
              <th class="col-discount">Discount</th>
            </ng-container>
            <th class="col-subtotal">Subtotal</th>
            <ng-container *ngIf="multipleTaxData">
              <th class="col-tax-amount">Tax Amount</th>
              <!-- <th class="col-tax" colspan="3">Tax</th> -->
              <th class="col-total">Total Amount</th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <!-- Table data from the first example -->
          <tr *ngFor="let item of invoiceData.items; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.description }}<br />HSN:{{ item.hsnCode }}</td>

            <td>{{ item.qty }}</td>
            <td>{{ item.unitPrice }}</td>
            <ng-container *ngIf="!multipleTaxData">
              <td class="col-discount">{{ item.discount }}</td>
            </ng-container>
            <td class="col-tax1">
              <div class="tax-details1">
                <div class="tax-amount1">{{ item.totalAmountBT }}</div>
                <ng-container *ngIf="multipleTaxData">
                  <div class="tax-cgst1">
                    {{
                      item.cgst == "" || item.cgst == null
                        ? ""
                        : "@CGST " + item.cgst
                    }}
                  </div>
                  <div class="tax-igst1">
                    {{
                      item.igst == "" || item.igst == null
                        ? ""
                        : "@IGST " + item.igst
                    }}
                  </div>
                  <div class="tax-sgst1">
                    {{
                      item.sgst == "" || item.sgst == null
                        ? ""
                        : "@SGST " + item.sgst
                    }}
                  </div>
                </ng-container>
              </div>
            </td>
            <ng-container *ngIf="multipleTaxData">
              <td>{{ item.taxAmount }}</td>
              <td>{{ item.totalAmountAT }}</td>
            </ng-container>
          </tr>
        </tbody>
        <tfoot>
          <ng-container *ngIf="multipleTaxData">
            <tr>
              <td class="subtotal-empty-row"></td>
              <td class="subtotal-empty-row" colspan="3">Total:</td>
              <!-- colspan for columns before the "Total Amount" column -->
              <td class="subtotal-amount-row total-amount-text">{{ invoiceData.subTotal }}</td>
              <td class="subtotal-amount-row total-amount-text">
                {{ invoiceData.totalTaxAmount }}
              </td>
              <!-- Subtotal -->

              <!-- colspan for tax columns -->
              <td class="subtotal-amount-row total-amount-text">
                {{ invoiceData.totalAmountAfterTax }}
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="!multipleTaxData">
            <tr>
              <td class="subtotal-empty-row"></td>
              <td class="subtotal-empty-row" colspan="3">Total:</td>
              <!-- colspan for columns before the "Total Amount" column -->
              <td class="subtotal-amount-row total-amount-text">
                {{ invoiceData.totalDiscount }}
              </td>
              <!-- Subtotal -->

              <!-- colspan for tax columns -->
              <td class="subtotal-amount-row total-amount-text">
                {{ invoiceData.subTotal }}
              </td>
            </tr>
          </ng-container>
        </tfoot>
      </table>
    </div>

    <div class="tax-details">
      <div class="left gst-left">
        <div class="section">
          <strong>GSTIN:</strong> {{ invoiceData.gstin }}
        </div>
        <div class="section"><strong>PAN:</strong> {{ invoiceData.pan }}</div>
        <div class="section">
          <strong>State:</strong> {{ invoiceData.state }}
        </div>
        <div class="section">
          <strong>Amount in Words:</strong> {{ invoiceData.amountInWords }}
        </div>
        <div class="section">
          <strong>Bank Details:</strong> Account No -
          {{ invoiceData.accountNo }}, IFSC -
          {{ invoiceData.ifsc }}
        </div>
        <div class="section">
          <strong>Terms & Conditions:</strong> {{ invoiceData.termsConditions }}
        </div>
      </div>
      <div class="right gst-right">
        <ng-container *ngIf="!multipleTaxData">
          <div class="tax-row">
            <div class="tax-title">Total Amount Before Tax:</div>
            <!-- <div class="tax-percentage">10%</div> -->
            <div class="tax-amount">{{ invoiceData.subTotal }}</div>
          </div>
          <div class="tax-row">
            <div class="tax-title tax-gst">
              <div class="col-5">CGST:</div>

              <div class="tax-igst1 col-7">
                {{
                  invoiceData.cgstPercentage == "" ||
                  invoiceData.cgstPercentage == null
                    ? ""
                    : "@" + invoiceData.cgstPercentage
                }}
              </div>
            </div>
            <!-- <div class="tax-percentage">10%</div> -->
            <div class="tax-amount">{{ invoiceData.cgstAmount }}</div>
          </div>
          <div class="tax-row">
            <div class="tax-title tax-gst">
              <div class="col-5">SGST:</div>

              <div class="tax-igst1 col-7">
                {{
                  invoiceData.sgstPercentage == "" ||
                  invoiceData.sgstPercentage == null
                    ? ""
                    : "@" + invoiceData.sgstPercentage
                }}
              </div>
            </div>
            <!-- <div class="tax-percentage">10%</div> -->
            <div class="tax-amount">{{ invoiceData.sgstAmount }}</div>
          </div>
          <div class="tax-row">
            <div class="tax-title tax-gst">
              <div class="col-5">CGST:</div>

              <div class="tax-igst1 col-7">
                {{
                  invoiceData.igstPercentage == "" ||
                  invoiceData.igstPercentage == null
                    ? ""
                    : "@" + invoiceData.igstPercentage
                }}
              </div>
            </div>
            <!-- <div class="tax-percentage">20%</div> -->
            <div class="tax-amount">{{ invoiceData.igstAmount }}</div>
          </div>
          <div class="tax-row">
            <div class="tax-title">Total Discount</div>
            <!-- <div class="tax-percentage">20%</div> -->
            <div class="tax-amount">{{ invoiceData.totalDiscount }}</div>
          </div>
          <div class="tax-row">
            <div class="tax-title">Shipping Charges</div>
            <!-- <div class="tax-percentage">20%</div> -->
            <div class="tax-amount">{{ invoiceData.shippingCharges }}</div>
          </div>
          <div class="tax-row">
            <div class="tax-title ">Total Amount</div>
            <!-- <div class="tax-percentage">20%</div> -->
            <div class="tax-amount total-amount-text">{{ invoiceData.totalInvoiceAmount }}</div>
          </div>
        </ng-container>
        <ng-container *ngIf="multipleTaxData">
          <div class="tax-row">
            <div class="tax-title">Total Amount Before Tax:</div>
            <!-- <div class="tax-percentage">10%</div> -->
            <div class="tax-amount">{{ invoiceData.subTotal }}</div>
          </div>
          <div class="tax-row">
            <div class="tax-title">Tax Amount:</div>
            <!-- <div class="tax-percentage">10%</div> -->
            <div class="tax-amount">{{ invoiceData.totalTaxAmount }}</div>
          </div>
          <div class="tax-row">
            <div class="tax-title">Total Amount After Tax:</div>
            <!-- <div class="tax-percentage">10%</div> -->
            <div class="tax-amount">{{ invoiceData.totalAmountAfterTax }}</div>
          </div>
          <div class="tax-row">
            <div class="tax-title">Total Discount:</div>
            <!-- <div class="tax-percentage">10%</div> -->
            <div class="tax-amount">{{ invoiceData.discountAmount }}</div>
          </div>
          <div class="tax-row">
            <div class="tax-title">Shipping Charges</div>
            <!-- <div class="tax-percentage">10%</div> -->
            <div class="tax-amount">{{ invoiceData.shippingCharges }}</div>
          </div>
          <div class="tax-row">
            <div class="tax-title total-amount">Total Amount</div>
            <!-- <div class="tax-percentage">10%</div> -->
            <div class="tax-amount total-amount-text">{{ invoiceData.totalInvoiceAmount }}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
