/* You can add global styles to this file, and also import other style files */
:root {
    /* --primary-color:  #00246b; */
    --primary-color:  #002347 ;
    --secondary-color:  #fa0059;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.secondary-button{
  background-color: #f7fbff;
  color: #fa0059;
  border-radius: 5px;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
  border: 2px solid #fa0059;
  width: 100%; 
}

.secondary-button:hover{
background-color: #fa0059;
color: white;
}
.primary-button{
  background-color:var(--primary-color);
  color: white;
  border-radius: 5px;
  padding: 8px 14px;
  transition: background-color 0.3s ease;
  border: 2px solid var(--primary-color); 
}
::ng-deep .success-toast {
  background-color: green !important;
  color: white !important;
}

.error-toast {
  background-color: red;
  color: white;
}

.info-toast {
  background-color: blue;
  color: white;
}
.mat-mdc-snack-bar-container {
  &.success-snackbar {
    --mdc-snackbar-container-color: green;
    --mdc-snackbar-supporting-text-color: #fff;
    border-radius: 2px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
    text-align: center;
  }
}
.mat-mdc-snack-bar-container .mdc-snackbar__label{
  color: white !important;
}

.mat-mdc-snack-bar-container {
  &.error-snackbar {
    --mdc-snackbar-container-color: red;
    color: white;
  }
}


.label-div{
  margin-bottom: 5px;
}

label {
  font-weight: 500;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.required-mark {
  color: red;
  margin-left: 5px;
}
.hide-label{
  display: none;
}
.form-control:disabled {
  background-color: #f5f5f5;
  opacity: 1;
}
.input-container {
position: relative;
}

.overlay {
position: absolute;
top: 0;
left: 0;
width: 100%; /* Cover the input field horizontally */
height: 100%; /* Cover the input field vertically */
pointer-events: none; /* Allow clicks to pass through */
}