<!-- dashboard.component.html -->
<div class="dashboard">
  <div class="header">
    <h1>Dashboard</h1>
    <div class="header-button">
      <button class="btn btn-primary">Complete Profile</button>
    </div>
  </div>

  <div class="progress-bar-container">
    <div class="progress-bar" [style.width.%]="completionPercentage"></div>
  </div>

  <p class="profile-progress-text">Your Profile is {{completionPercentage}}% Complete</p>

  <div class="card-container overview-container">
    <div class="card overview-card" >
      <div class="invoice-card-header">
        <span>Last Invoice</span>
        <a href="#" class="card-link-text">View Invoice</a>
      </div>
      <div class="card-data">
        <div class="card-row">
          <div class="col-6">
            <span class="card-label">Invoice No</span>
            <span class="card-value">{{
              cardsData[0]?.invoiceDetails?.invoiceNo || 'N/A'
            }}</span>
          </div>
          <div class="col-6">
            <span class="card-label">Date</span>
            <span class="card-value">{{
              cardsData[0]?.invoiceDetails?.invoiceDate || 'N/A'
            }}</span>
          </div>
        </div>
        <div class="card-row">
          <div class="col-6">
            <span class="card-label">Client</span>
            <span class="card-value">{{
              cardsData[0]?.invoiceDetails?.client || 'N/A'
            }}</span>
          </div>
          <div class="col-6">
            <span class="card-label">Amount</span>
            <span class="card-value">{{
              cardsData[0]?.invoiceDetails?.amount || 0 | currency : "INR"
            }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="card overview-card">
      <div class="invoice-card-header">
        <span>Overview</span>
      </div>
      <div class="card-data">
        <div class="card-row">
          <div class="col-6">
            <span class="card-label">Invoices</span>
            <span class="card-value number">{{ invoiceCount || 0 }}</span>
          </div>
          <div class="col-6">
            <span class="card-label">Businesses</span>
            <span class="card-value number">{{ businessCount || 0 }}</span>
          </div>
        </div>
        <div class="card-row">
          <div class="col-6">
            <span class="card-label">Clients</span>
            <span class="card-value number">{{ clientsCount || 0 }}</span>
          </div>
          <div class="col-6">
            <span class="card-label">Items</span>
            <span class="card-value number">{{ itemCount || 0 }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="card-container">
      <div *ngFor="let card of cards" class="card">
        <div class="invoice-card-header">
          <span>{{ card.title }}</span>
          <i [class]="card.icon + ' icon'"></i>
        </div>
        <div class="card-text">
          {{ card.text }}
        </div>
        <div class="card-link">
          <a [routerLink]="[card.link]" class="card-link-text">{{
            card.linkText
          }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
