.dashboard {
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 30px;
    font-weight: 500;
    margin: 0px;
}

.header-button {
  margin-left: 20px; /* Adjust spacing between header and button */
}

.btn-primary {
  background-color: #002347; /* Primary color */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.btn-primary:hover {
  background-color: #001f2e; /* Darker shade on hover */
}

.progress-bar-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  background-color: #f0f0f0;
  overflow: hidden;
}

.progress-bar {
  height: 8px; /* Increased height */
  width: 100%; /* Initial width, will be overridden by [style.width.%] binding */
  background-color: #002347; /* Primary color */
  border-radius: 4px;
  position: relative;
  overflow: hidden; /* Ensure the progress bar doesn't overflow its container */
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 14px; /* Increased font size */
}

.profile-progress-text {
  font-size: 14px;
  color: #666;
  margin-top: 8px; /* Adjust margin as needed */
}
.card-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.card {
  width: calc(25% - 16px); /* Adjusted width with spacing */
  background-color: #fff; /* White background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for elevation */
  border-radius: 8px; /* Rounded corners */
  padding: 40px; /* Padding inside the card */
  transition: box-shadow 0.3s ease;
  border: 1px solid #f0f0f0
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.invoice-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px; /* Increased font size for header */
  font-weight: bold;
  margin-bottom: 10px;
  color: #09090B; /* Dark text color */
}

.invoice-card-header .icon {
  font-size: 20px; /* Increased icon size */
  color: #09090B; /* Icon color */
}

.card-text {
  font-size: 12px; /* Adjusted font size */
  color: #666; /* Medium gray text color */
  margin-bottom: 12px;
}

.card-link {
  text-align: left; /* Align hyperlink to the left */
  padding-top: 30px; /* Add spacing above the hyperlink */
  font-size: 14px;
}

.card-link-text {
  font-size: 12px; /* Adjusted font size */
  color: #000; /* Black text color */
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 500;
}

.card-link-text:hover {
  color: #333; /* Darker shade on hover */
}
.overview-card{
  width: 49%;
}
.overview-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust spacing between cards */
}

.overview-card {
  width: calc(50% - 20px); /* Adjusted width with spacing between cards */
  background-color: #fff; /* White background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for elevation */
  border-radius: 8px; /* Rounded corners */
  padding: 40px !important; /* Padding inside the card */
  transition: box-shadow 0.3s ease; /* Smooth shadow transition */
}

.overview-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.card-data {
  margin-top: 20px; /* Top margin for data rows */
}

.card-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px; /* Bottom margin between rows */
}
/* .card-row{
  display: flex;
  flex-direction: column;
} */

.col-6 {
  width: 50%; /* Each column takes half the width */
  display: flex;
  flex-direction: column;
}

.card-label {
  font-size: 12px; /* Label font size */
  color: #666; /* Label color */
  margin-bottom: 2px;
  /* Bold font weight */
}

.card-value {
  font-size: 14px; /* Value font size */
  color: #09090B; /* Value color */
  font-weight: 500;
}
.number{
  font-size: 16px !important;
}
